<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/fragments/layout}">
<!-- META SECTION -->
<title>Employees</title>

<head>
</head>

<body>
    <!-- PAGE CONTENT -->
    <div class="page-content" layout:fragment="content">
        <div th:replace="/fragments/navigation :: navigation"></div>
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">Employees</a></li>
            <li class="active">Edit Employee</li>
        </ul>
        <!-- END BREADCRUMB -->
        <!-- PAGE TITLE -->
        <div class="page-title">
            <h3><span class="fa fa-user"></span> Employee: <label th:text="${employee.getName()}"></label></h3>
            <a th:href="@{${#admin.employee_show.path()}(id=${employee.getEmployeeCode()})}" class="btn btn-primary return-back"><span class="glyphicon glyphicon-align-justify"></span> Return to show</a>
        </div>
        <!-- END PAGE TITLE -->
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <div class="row">
                <div class="col-md-12">
                    <th:block th:include="profile/employee"></th:block>
                    <th:block th:include="common/errors" th:if="${not #lists.isEmpty(errors)}"></th:block>
                    <form class="form-horizontal" id="fixed-footer" th:action="@{${#admin.employee_personal_edit.path()}(id=${employee.getEmployeeCode()})}" th:object="${employee}" method="post">
                        <!-- START STRIPED TABLE -->
                        <div class="panel panel-default panel-page-content">
                            <div class="panel-heading panel-table">
                                <h3 class="panel-title"><span class="fa fa-hand-o-right"> </span> Employee details</h3>
                            </div>
                            <div class="panel-body">
                                <table class="panel-view">
                                    <tbody>
                                        <tr>
                                            <td>Name</td>
                                            <td><input type="text" disabled="true" th:value="${employee.getName()}" class="form-control" /></td>
                                        </tr>
                                        <tr>
                                            <td>Code</td>
                                            <td><input type="text" disabled="true" th:value="${employee.getEmployeeCode()}" class="form-control" /></td>
                                        </tr>
                                        <tr>
                                            <td><span class="fa fa-calendar-check-o fa-span"></span>Started On</td>
                                            <td><input type="text" th:field="*{startedOn}" th:value="${employee.getStartedOn()}" class="form-control" /></td>
                                        </tr>
                                        <tr>
                                            <td><span class="fa fa-calendar-times-o fa-span"></span>Deactivated On</td>
                                            <td><input type="text" th:field="*{endedOn}" th:value="${employee.getEndedOn()}" class="form-control" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="panel panel-default panel-page-content">
                            <div class="panel-heading panel-table">
                                <h3 class="panel-title"><span class="fa fa-hand-o-right"> </span> Personal details</h3>
                            </div>
                            <div class="panel-body">
                                <table class="panel-view">
                                    <tbody>
                                        <tr>
                                            <td>First Name</td>
                                            <td><input type="text" th:field="*{firstName}" th:value="${employee.getFirstName()}" class="form-control" /></td>
                                        </tr>
                                        <tr>
                                            <td>Middle Name</td>
                                            <td><input type="text" th:field="*{middleName}" th:value="${employee.getMiddleName()}" class="form-control" /></td>
                                        </tr>
                                        <tr>
                                            <td>Last Name</td>
                                            <td><input type="text" th:field="*{lastName}" th:value="${employee.getLastName()}" class="form-control" /></td>
                                        </tr>
                                        <tr>
                                            <td>Display first Name</td>
                                            <td><input type="text" th:field="*{personalDetail.displayFirstName}" th:value="${personal.getDisplayFirstName()}" class="form-control" /></td>
                                        </tr>
                                        <tr>
                                            <td>Display last Name</td>
                                            <td><input type="text" th:field="*{personalDetail.displayLastName}" th:value="${personal.getDisplayLastName()}" class="form-control" /></td>
                                        </tr>
                                        <tr>
                                            <td>Date of Birth</td>
                                            <td><input type="text" th:field="*{personalDetail.birthDate}" th:value="${personal.getBirthDate()}" class="form-control" /></td>
                                        </tr>
                                        <tr>
                                            <td>Gender</td>
                                            <td>
                                                <span class="gender">Female</span>
                                                <label class="switch text">
                                                    <input type="checkbox" th:field="*{gender}" value="${employee.getGender()}"/>
                                                    <span></span>
                                                </label>
                                                <span class="gender">Male</span>
                                          </td>
                                        </tr>
                                        <tr>
                                            <td>Marital status</td>
                                            <td>
                                                <select th:field="*{personalDetail.maritalStatus}" class="form-control select">
                                                  <option th:each="status : ${T(com.resource.common.constants.MaritalStatus).getStatuses()}" th:value="${status.getId()}" th:text="${status.getName()}">
                                                  </option>
                                              </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="panel panel-default panel-page-content">
                            <div class="panel-heading panel-table">
                                <h3 class="panel-title"><span class="fa fa-hand-o-right"> </span> Contacts</h3>
                            </div>
                            <div class="panel-body">
                                <table class="panel-view">
                                    <tbody>
                                        <tr>
                                            <td><span class="fa fa-envelope fa-span"></span>Company Email</td>
                                            <td><input type="text" th:field="*{email}" th:value="${employee.getEmail()}" class="form-control" /></td>
                                        </tr>
                                        <tr>
                                            <td><span class="fa fa-envelope fa-span"></span>Personal Email</td>
                                            <td><input type="text" th:field="*{personalDetail.email}" th:value="${personal.getEmail()}" class="form-control" /></td>
                                        </tr>
                                        <tr>
                                            <td><span class="fa fa-mobile-phone fa-lg fa-span"></span>Mobile number</td>
                                            <td><input type="text" th:field="*{personalDetail.mobileNumber}" th:value="${personal.getMobileNumber()}" class="form-control" /></td>
                                        </tr>
                                        <tr>
                                            <td><span class="fa fa-phone fa-lg fa-span"></span>Phone number</td>
                                            <td><input type="text" th:field="*{personalDetail.phoneNumber}" th:value="${personal.getPhoneNumber()}" class="form-control" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="panel panel-default panel-page-content">
                            <div class="panel-heading panel-table">
                                <h3 class="panel-title"><span class="fa fa-hand-o-right"> </span> Nationality</h3>
                            </div>
                            <div class="panel-body">
                                <table class="panel-view">
                                    <tbody>
                                        <tr>
                                            <td><span class="fa fa-flag fa-span"></span>Nationality</td>
                                            <td>
                                                <select th:field="*{personalDetail.nationalityId}" class="form-control select">
                                                    <option th:each="country : ${T(com.resource.common.constants.Country).getCountries()}" th:value="${country.getId()}" th:text="${country.getName()}"></option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="fa fa-id-card-o fa-span"></span>Passport number</td>
                                            <td><input type="text" th:field="*{personalDetail.passportNumber}" th:value="${personal.getPassportNumber()}" class="form-control" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END STRIPED TABLE -->
                        <div class="panel-footer">
                            <button class="btn btn-primary">Save</button>
                            <a class="btn btn-default" th:href="@{${#admin.employee_personal_show.path()}(id=${employee.getEmployeeCode()})}">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <th:block layout:fragment="message_box">
        <!-- START MODALS -->
        <div class="modal fade" id="add_shift" tabindex="-1" role="dialog" aria-labelledby="smallModalHead" aria-hidden="true">
            <div class="modal-dialog custom-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Shift</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span class="fa fa-times-circle" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <form id="shift_form" th:action="@{${#admin.employee_type_work_time.path()}(id=${employeeType.getId()})}" method="post">
                                <input type="hidden" name="_method" value="put">
                                <table class="panel-view">
                                    <tbody>
                                        <tr>
                                            <td><label class="control-label">Style name</label></td>
                                            <td><input type="name" name="name"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="add" class="btn btn-info" data-dismiss="modal">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- EOF MODALS -->
    </th:block>
    <th:block layout:fragment="script">
        <script>
            $(document).ready(function() {
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                $("#startedOn, #endedOn, #personalDetail.birthDate").datepicker({
                    format: 'yyyy-mm-dd',
                    todayHighlight: true,
                    autoclose: true,
                });

                $("#shift_event").on("click", function(event) {
                    event.preventDefault();
                    $('#add_shift').modal('show');
                    return false;
                });

                $("#add").on("click", function(event) {
                    event.preventDefault();
                    $("#shift_form").submit();
                });
            });
        </script>
    </th:block>
</body>

</html>