<!DOCTYPE html>
<html lang="en" layout:decorate="~{/fragments/layout}">
<!-- META SECTION -->
<title>Companies</title>

<head>
    <th:block layout:fragment="stylesheet">
        <link rel="stylesheet" type="text/css" id="theme" th:href="@{/css/bootstrap-treeview.css}" />
    </th:block>
</head>

<body>
    <!-- PAGE CONTENT -->
    <div class="page-content" layout:fragment="content">
        <div th:replace="/fragments/navigation :: navigation"></div>
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">Companies</a></li>
            <li class="active">Teams</li>
        </ul>
        <!-- END BREADCRUMB -->
        <!-- PAGE TITLE -->
        <div class="page-title">
            <h2>Company teams</h2>
        </div>
        <!-- END PAGE TITLE -->
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default panel-border">
                        <div class="panel-body">
                            <form class="form-horizontal" id="search_form" th:action="${#admin.company_search.path()}" th:method="get">
                                <div class="form-group">
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="fa fa-search"></span>
                                            </div>
                                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter team name / code OR employee name / code" th:value="${#httpServletRequest.getParameter('name')}" />
                                            <div class="input-group-btn">
                                                <button class="btn btn-primary">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <a th:href="${#admin.team_add.path()}" class="btn blue-button btn-block"> <span class="fa fa-plus"></span> Add Team
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- START RESPONSIVE TABLES -->
            <div class="row">
                <div class="col-md-6">
                    <div class="panel-body">
                        <div id="tree"></div>
                    </div>
                </div>
                <div class="col-md-6" id="team_members">
                </div>
            </div>
            <!-- END RESPONSIVE TABLES -->
        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
</body>
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/bootstrap-treeview.js}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var options = {
                bootstrap2: false,
                showTags: true,
                levels: 5,
                data: tree,
                enableLinks: true,
                showId: true,
                expandIcon: 'fa fa-caret-square-o-right fa-lg',
                collapseIcon: 'fa fa-caret-square-o-down fa-lg',
                emptyIcon: 'fa fa-arrow-circle-o-right fa-lg',
                collapseAll: true,
            };
            $.ajax({
                type : "GET",
                contentType : "application/json; charset=utf-8",
                url : "/admin/company/teams/tree",
                dateType : 'json',
                cache: false,
                success: function (response) {
                    options['data'] = response;
                    $('#tree').treeview(options);
                    $("div .page-content").css({"height": "100%"});
                    $('li.list-group-item.node-tree').on("click", function(e) {
                        e.preventDefault();
                        teamMembers(this);
                        return false;
                    });

                    $('li.list-group-item.node-tree.node-selected').on("click", function(e) {
                        e.preventDefault();
                        teamMembers(this);
                        return false;
                    });
                    return false;
                }
            });

            function teamMembers(current){
                var teamIdString = null;
                $(".treeview >ul li").removeClass("node-selected");

                if ($(current) != undefined || $(current) != null){
                    teamIdString = $($(current).get(0)).find("a")[0].id;
                    $(current).addClass("node-selected");
                }

                var teamId = teamIdString.match(/(\d+)/)[0];
                $.ajax({
                    type : "GET",
                    contentType : "application/json; charset=utf-8",
                    url : "/admin/company/teams/"+teamId+"/tree/members",
                    dateType : 'json',
                    cache: false,
                    success: function (response) {
                        $("#team_members").html(response);
                        return false;
                    }
                });
                return false;
            }
        });
    </script>
</th:block>

</html>
