<!-- Footer -->
<div th:fragment="footer">
  <footer class="footer-classic">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xl-5">
          <div class="pr-xl-4">
            <!-- Rights-->
            <p class="rights">
              <span>©  </span><span class="copyright-year">2018</span><span> </span><span>Waves</span><span>. </span><span>All
                Rights Reserved.</span>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <h5 class="footer-content">Contacts</h5>
          <dl class="contact-list">
            <dt>Address:</dt>
            <dd class="footer-text">Aswin</dd>
          </dl>
          <dl class="contact-list">
            <dt>email:</dt>
            <dd>
              <a href="mailto:#">samaswin@gmail.com</a>
            </dd>
          </dl>
          <dl class="contact-list">
            <dt>phones:</dt>
            <dd>
              <a href="tel:#">999999999</a> <span>or</span>
              <a href="tel:#">999999999</a>
            </dd>
          </dl>
        </div>
        <div class="col-md-4 col-xl-3">
          <h5 class="footer-content">Links</h5>
          <ul class="nav-list">
            <li><a href="#">About</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Pricing</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- Footer -->