<div th:fragment="pagination(objects)">
  <div class="row" th:if="${objects.getTotalPages() > 0}">
    <div class="col-md-12">
      <ul
        class="pagination pagination-sm pull-right push-down-10 push-up-10">
        <li class="disabled"><a href="#">«</a></li>
        <li th:each="pageNumber : ${pageNumbers}"
          th:class="${pageNumber == objects.number + 1} ? active"><a
          th:href="@{${#httpServletRequest.requestURI}(page=${pageNumber})}"
          th:text="${pageNumber}"></a></li>
        <li><a href="#">»</a></li>
      </ul>
    </div>
  </div>
</div>