<!-- START STRIPED TABLE -->
<div class="panel panel-default">
    <div class="panel-heading panel-table">
        <h3 class="panel-title" th:text="${address.getAddressTypeName()}"></h3>
        <button class="btn btn-primary pull-right"><span class="fa fa-edit"></span>Edit</button>
    </div>
    <div class="panel-body">
        <table class="panel-view">
            <tbody>
                <tr>
                    <td>Address</td>
                    <td><input type="text" th:field="*{details}" th:value="${address.getDetails()}" class="form-control" /></td>
                </tr>
                <tr>
                    <td><span class="fa fa-flag fa-span"></span>Country</td>
                    <td>
                        <select class="form-control select">
                            <option th:field="*{country}" th:each="country : ${T(com.resource.common.constants.Country).geCountries()}" th:value="${country.getName()}" th:text="${country.getName()}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>State</td>
                    <td>
                        <select class="form-control select">
                            <option th:field="*{state}" th:each="state : ${T(com.resource.common.constants.State).geStates()}" th:value="${state.getName()}" th:text="${state.getName()}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>
                        <select class="form-control select">
                            <option th:field="*{city}" th:each="city : ${T(com.resource.common.constants.City).geCities()}" th:value="${city.getName()}" th:text="${city.getName()}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><span class="fa fa-map-pin fa-lg fa-span"></span>Postal Code</td>
                    <td><input type="text" th:field="*{postalCode}" th:value="${address.getPostalCode()}" class="form-control" /></td>
                </tr>
                <tr>
                    <td><span class="fa fa-calendar-check-o fa-span"></span>Started On</td>
                    <td><input type="text" th:field="*{startedOn}" th:value="${address.getStartedOn()}" class="form-control" /></td>
                </tr>
                <tr>
                    <td><span class="fa fa-calendar-check-o fa-span"></span>Ended On</td>
                    <td><input type="text" th:field="*{endedOn}" th:value="${address.getEndedOn()}" class="form-control" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- END STRIPED TABLE -->