<!DOCTYPE html>
<html lang="en" layout:decorate="~{/fragments/layout}">
<!-- META SECTION -->
<title>Employees</title>
<head>
</head>
<body>

  <!-- PAGE CONTENT -->
  <div class="page-content" layout:fragment="content">
    <div th:replace="/fragments/navigation :: navigation"></div>

    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
      <li><a href="#">Employees</a></li>
      <li class="active">Manage Employees</li>
    </ul>
    <!-- END BREADCRUMB -->

    <!-- PAGE TITLE -->
    <div class="page-title">
      <h2>Employees List</h2>
    </div>
    <!-- END PAGE TITLE -->

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

      <div class="row">
        <div class="col-md-12">

          <div class="panel panel-default">
            <div class="panel-body">
              <form class="form-horizontal">
                <div class="form-group">
                  <div class="col-md-8">
                    <div class="input-group">
                      <div class="input-group-addon">
                        <span class="fa fa-search"></span>
                      </div>
                      <input type="text" class="form-control"
                        placeholder="Enter employee name or code" />
                      <div class="input-group-btn">
                        <button class="btn btn-primary">Search</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <button class="btn btn-success btn-block">
                      <span class="fa fa-plus"></span> Add new contact
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" id="employee_profiles"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul
            class="pagination pagination-sm pull-right push-down-10 push-up-10">
            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">»</a></li>
          </ul>
        </div>
      </div>

    </div>
    <!-- END PAGE CONTENT WRAPPER -->
  </div>
</body>
</html>
