<!-- START STRIPED TABLE -->
<th:block th:each="contact : ${contacts}">
<div class="panel panel-default">
    <div class="panel-heading panel-table">
        <h3 class="panel-title" th:text="'Contact - ' + ${contact.getRelationshipName()}"></h3>
        <button class="btn btn-primary pull-right"><span class="fa fa-edit"></span>Edit</button>
    </div>
    <div class="panel-body">
        <table class="panel-view">
            <tbody>
                <tr>
                    <td>Name</td>
                    <td th:text="${contact.getName()}"></td>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td th:text="${contact.getFirstName()}"></td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td th:text="${contact.getLastName()}"></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td th:text="${contact.getAddress()}"></td>
                </tr>
                <tr>
                    <td><span class="fa fa-envelope fa-span"></span>Email</td>
                    <td th:text="${contact.getEmail()}"></td>
                </tr>
                <tr>
                    <td><span class="fa fa-mobile-phone fa-lg fa-span"></span>Mobile Number</td>
                    <td th:text="${contact.getMobileNumber()}"></td>
                </tr>
                <tr>
                    <td><span class="fa fa-phone fa-lg fa-span"></span>Phone Number</td>
                    <td th:text="${contact.getPhoneNumber()}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</th:block>
<!-- END STRIPED TABLE -->