<!-- START DEFAULT WIZARD -->
<div class="block" th:fragment="wizard">
    <div class="wizard">
        <ul class="anchor steps_4">
            <li>
                <a id="personal">
                    <span class="stepNumber">1</span>
                    <span class="stepDesc">Personal info</span>
                </a>
            </li>
            <li>
                <a id="addresses">
                    <span class="stepNumber">2</span>
                    <span class="stepDesc">Address</span>
                </a>
            </li>
            <li>
                <a id="dependents">
                    <span class="stepNumber">3</span>
                    <span class="stepDesc">Family members</span>
                </a>
            </li>
            <li>
                <a id="contacts">
                    <span class="stepNumber">4</span>
                    <span class="stepDesc">Contacts</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- END DEFAULT WIZARD -->