<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/fragments/layout}">
<!-- META SECTION -->
<title>Employees</title>

<head>
</head>

<body>
    <!-- PAGE CONTENT -->
    <div class="page-content" layout:fragment="content">
        <div th:replace="/fragments/navigation :: navigation"></div>
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">Employees</a></li>
            <li class="active">Employee</li>
        </ul>
        <!-- END BREADCRUMB -->
        <!-- PAGE TITLE -->
        <div class="page-title">
            <h3><span class="fa fa-user"></span> Edit Employment settings</h3>
            <a th:href="@{${#admin.employee_employment_show.path()}(id=${employee.getEmployeeCode()})}" class="btn btn-primary return-back"><span class="fa fa-desktop"></span> Return to show</a>
        </div>
        <!-- END PAGE TITLE -->
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <div class="row">
                <div class="col-md-12">
                    <th:block th:include="profile/employee"></th:block>
                    <form class="form-horizontal" id="fixed-footer" th:action="@{${#admin.employee_employment_edit.path()}(id=${employee.getEmployeeCode()}, relationshipId=${relationship.getId()})}" th:object="${relationship}" method="post">
                        <!-- START STRIPED TABLE -->
                        <div class="panel panel-default panel-page-content">
                            <div class="panel-heading panel-table">
                                <h3 class="panel-title"><span class="fa fa-hand-o-right"></span> Employment type</h3>
                            </div>
                            <div class="panel-body">
                                <table class="panel-view">
                                    <tbody>
                                        <tr>
                                            <td>Employement type</td>
                                            <td>
                                                <select class="form-control select" th:field="*{employeeType}">
                                                    <option th:each="type : ${employeeTypes}" th:value="${type.getId()}" th:text="${type.getName()}" th:selected="${type.getId() == employeeType.getId()}"></option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="fa fa-calendar-check-o fa-span"></span>Started On</td>
                                            <td>
                                                <input type="text" th:field="*{startedOn}" th:value="${relationship.getStartedOn()}" class="form-control" />
                                                <small class="text-danger" th:if="${#fields.hasErrors('startedOn')}" th:errors="*{startedOn}" ></small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="fa fa-calendar-check-o fa-span"></span>Ended On</td>
                                            <td><input type="text" th:field="*{endedOn}" th:value="${relationship.getEndedOn()}" class="form-control" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END STRIPED TABLE -->
                        <div class="panel-footer edit">
                            <button class="btn btn btn-save">Save</button>
                            <a class="btn btn-default" th:href="@{${#admin.employee_employment_show.path()}(id=${employee.getEmployeeCode()})}">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <th:block layout:fragment="script">
        <script>
            $(document).ready(function() {
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                $("#startedOn, #endedOn").datepicker({
                    format: 'yyyy-mm-dd',
                    todayHighlight: true,
                    autoclose: true,
                });
            });
        </script>
    </th:block>
</body>
</html>
