<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/fragments/layout}">
<!-- META SECTION -->
<title>Employees</title>

<head>
</head>

<body>
    <!-- PAGE CONTENT -->
    <div class="page-content" layout:fragment="content">
        <div th:replace="/fragments/navigation :: navigation"></div>
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">Employees</a></li>
            <li class="active">Employee</li>
        </ul>
        <!-- END BREADCRUMB -->
        <!-- PAGE TITLE -->
        <div class="page-title">
            <h3><span class="fa fa-user"></span> Employment settings</h3>
            <a th:href="${#admin.employee_list.path()}" class="btn btn-primary return-back"><span class="glyphicon glyphicon-align-justify"></span> Return to list</a>
        </div>
        <!-- END PAGE TITLE -->
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <div class="row">
                <div class="col-md-12">
                    <th:block th:include="profile/employee"></th:block>
                    <!-- START STRIPED TABLE -->
                    <div class="panel panel-default panel-page-content">
                        <div class="panel-heading panel-table">
                            <h3 class="panel-title"><span class="fa fa-hand-o-right"></span> Employment type</h3>
                            <a th:href="@{${#admin.employee_employment_edit.path()}(id=${employee.getEmployeeCode()}, relationshipId=${relationship.getId()})}" class="btn btn-primary pull-right"><span class="fa fa-edit"></span>Edit</a>
                        </div>
                        <div class="panel-body">
                            <table class="panel-view">
                                <tbody>
                                    <tr>
                                        <td>Employee Id</td>
                                        <td th:text="${employee.getEmployeeCode()}"></td>
                                    </tr>
                                    <tr>
                                        <td>Employement type</td>
                                        <td th:text="${employeeType.getName()}"></td>
                                    </tr>
                                    <tr>
                                        <td>Work type</td>
                                        <td th:text="${employeeType.getWorkTypeName()}"></td>
                                    </tr>
                                    <tr>
                                        <td>Started on</td>
                                        <td th:text="${relationship.displayStartedOn()}"></td>
                                    </tr>
                                    <tr>
                                        <td>Probation period ended on</td>
                                        <td th:text="${relationship.displayProbationPeriodEndedOn()}"></td>
                                    </tr>
                                    <tr th:if="${relationship.getEndedOn() != null}">
                                        <td>Ended on</td>
                                        <td th:text="${relationship.displayEndedOn()}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END STRIPED TABLE -->
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
</body>
</html>
